#titlle {
  background-color: #ff4c68;
}

.ssw {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  font-weight: 1.5;
  color: #fff;
}

.container-fluid {
  padding: 3% 15%;
}

h2 {
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
}

h3 {
  font-family: "Montserrat-Black";
  font-weight: bold;
}

p{
  color:grey;
  font-size:1.5rem;
}


.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Montserrat-light';
}

.download-button {
  margin: 5% 3% 5% 0;
}

.tittle-image {
  width: 60%;
  transform: rotate(25deg);
}

#features {
  padding: 7% 15%;
  background-color: white;
}

.feature-box {
  text-align: center;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.card-body {
  background-color: #FFEBCD;
}

.testimonials-image {
  border-radius: 70%;
  width: 20%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 30px;
}

.carousel-item {
  padding: 7% 15%;
}

#pricing {
  padding: 70px;
  text-align: center;
}

.pricing-colum {
  padding: 3% 2%;
}

.call-section {
  background-color: #ff4c68;
  text-align: center;
  padding: 7% 15%;
  color: #fff;
}

.button-call {
  margin: 1%
}

#footer {
  color: grey;
}

.id-footer {
  text-align: center;
  font-weight: bold;
}

.images-websites {
  text-align: center;
  font-size: 2rem;
}

.footer-img {
  margin: 20px 10px;
}
